
/*
* GENERICO
*/
.conteudo-lateral {
    padding-top: 20px;
    height: 100%;
}

.layout-fotos {
    box-sizing: border-box;
    background-color: #eee;
    border: 10px solid #C2CCCA;
}

/*
* LOGO
*/
.conteudo-logo {
    width: 700px;
    padding: 0px 0px 0px 0px;
    position: absolute;
}
.logo {
    margin-left:90px;
}
.titulo-logo {
    position: absolute;
    top: 220px;
    left: 250px;
    text-align: center;
    color: #29a329; 
    font-weight: bold;
}

/*
* BENEFICIOS
*/
.beneficios {
    margin:300px 0px 0px 0px;
    box-sizing: border-box;
    padding-top: 10px;
    background-color: #eee;
    border: 1px solid #00264d;
    text-align: center;
}

/*
* 1º FOTO - 
*/
.titulo-meninas-jovens {
    text-align: center;
    color: #29a329; 
    font-weight: bold;
    padding: 100px 0px 0px 0px;
}
.conteudo-meninas-jovens {
    margin:30px 0px 100px 0px;
    padding-top: 30px;
    height: 500px;
} 
.conteudo-img-meninas-jovens {
    float: left;
}
.img-garotas-bonitas { /* logo e 1º foto garotas bonitas*/
    margin-top:8px;
}
.conteudo-texto-meninas-jovens {
    float: left;
    padding-left: 50px;
    width: 350px;
}
.texto-meninas-jovens {
    font-size: 280%;
}

/*
* 2º FOTO - PELE BONITA
*/
.titulo-foto-2 {
    text-align: center;
    color: #29a329; 
    font-weight: bold;
}
.conteudo-foto-2 {
    padding-top: 30px;
    margin-top: 30px;
    height: 400px;
}    
.conteudo-img-foto-2 {
    float: left;
    height: 100%;
    margin: 0px 0px 0px -10px;
}
.conteudo-texto-foto-2 {
    float: left;
    margin: 0px 0px 0px 10px;
    width: 340px;
    height: 310px;
}
.img-pele-bonita {
    padding-top: 10px;
}
.texto-imagem-pele-bonita {
    padding: 5px 0px 0px 0px;
    font-size: 198%;
}



/*
* FOOTER
*/
.rodape-pagina {
    background-color: #0066ff; 
    color: #FFF8DC; 
    margin-top: 50px;
}




